main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    background-image: url('../images/wallpaper-dbz-wellmelo.png');
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.2em;
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    margin: 0 0 30px;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    background-color: #333;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #a52a2a;
    border-radius: 5px;
    transition: all 0.4s ease;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
}

.face:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('../images/back.png');
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.9;
    cursor: auto;
}

button.refresh {
    padding: 5px 10px;
    font-size: 0.7em;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #a52a2a;
    color: #fff;
    cursor: pointer;
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

button.refresh:disabled {
    cursor: auto;
    background-color: #ccc;
}

button.rankButton {
    padding: 5px 10px;
    font-size: 0.7em;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #a52a2a;
    color: #fff;
    cursor: pointer;
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

button.rankButton:disabled {
    cursor: auto;
    background-color: #ccc;
}

.footer {
    margin-top: 20px;
    color: #fff;
    text-shadow: 2px 1px #000;
    position: relative;
}

.footer a {
    color: #fff;
    text-decoration: none;
    background-color: #a52a2a;
    padding: 0px 5px;
    border-radius: 5px;
}

.footer a:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .modal {
        padding-top: 100px;
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80% !important;
        padding-top: 30px !important;
    }

    /* MODAL RANK */
    .modal2 {
        padding-top: 100px;
    }
    .modal-content2 {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80% !important;
        padding-top: 30px !important;
    }

    .close {
        margin-top: -30px !important;
    }

    .close2 {
        margin-top: -30px !important;
    }

    .player,
    .timer-texto,
    .timer,
    #timerCombined,
    #timerCombined2,
    .refresh {
        font-size: 0.7em !important;
    }
    .footer {
        max-width: 270px;
        text-align: center;
        line-height: 1.5;
        font-size: 0.7em !important;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    min-height: 120px;
    border: 1px solid #888;
    width: 40%;

    text-align: center;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.modal-content P {
    max-width: 300px;
    margin: auto;
}
/* The Close Button */
.close {
    width: 20px;
    height: 10px;
    margin-top: -25px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Start style modal 2 */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content Rank */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;

    text-align: center;
    border-radius: 10px;
}

.modal-content2 hr {
    border-top: 1px solid red;
}

/* The Close Button */
.close2 {
    width: 20px;
    height: 10px;
    margin-top: -20px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
